@media (max-width: 991px) {

    .button {
        &_main {
            width: 270px;
            height: 40px;
        }
        &_submit {
            width: 270px;
            height: 40px;
        }
    }

    .title {
        &_left {
            font-size: 25px;
        }
    }

    .feed-form {
        width: 270px;
        input {
            height: 40px;
        }
    }

    .promo {
        .header {
            &__logo {
                width: 200px;
            }
            &__phone {
                font-size: 16px;
            }
        }        
    }

    .advantages {
        &__item {
            max-width: 200px;
        }
        &__descr {
            font-size: 12px;
        }
    }

    .consultation {
        &__descr {
            font-size: 16px;
        }
    }

    .carousel {
        .slick-dots {
            display: flex !important;
            flex-direction: row;
            list-style-type: none;
            align-items: center;
            padding-left: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 20px;
            li {
                button {
                    background: none;
                    border: none;
                }
            }
        }
        .slick-slide {
            img {
                width: 100%;
            }
        }
        &__inner {
            width: 100%;
        }
    }

    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }

    .footer {
        height: 500px;
        &__info {
            width: 350px;
            height: 200px;
            padding: 20px 35px 20px 35px;
        }
        &__addr {
            margin-bottom: 15px;
        }
        &__phone {
            margin-bottom: 25px;
        }
        &__social {
            margin-bottom: 15px;
        }
        iframe {
            height: 500px;
        }
    }
}

@media (max-width: 767px) {

    .button {
        &_main {
            margin-top: 40px;
        }
        &_submit {
            width: 250px;
            height: 35px;
        }
    }

    .title {
        &_left {
            font-size: 18px;
        }
    }

    .promo {
        min-height: 560px;
        .header {
            &__official {
                display: none;
            }
            &__phone {
                font-size: 14px;
            }
            .button {
                height: 26px;
            }
        }
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            margin-top: 11px;
            font-size: 20px;
        }
        &__icons {
            margin-top: 35px;
        }
    }

    .advantages {
        &__wrapper {
            margin-top: 55px;
        }
        &__icon {
            animation: cup767, sneaker767, heartbeat767 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
        &__item {
            max-width: 151px;
        }
        &__subtitle {
            text-align: center;
            line-height: 20px;
            &_mt {
                margin-top: 58px;
            }
        }
    }

    .consultation {
        min-height: 470px;
        padding: 50px 0 70px 0;
        &__descr {
            font-size: 12px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 35px;
            }
        }
    }

    .carousel {
        .slick-slide {
            img {
                width: 100%;
            }
        }
        &__inner {
            width: 100%;
        }
    }

    .catalog {
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            font-size: 14px;
            height: 40px;
            line-height: 38px;
        }
        .catalog-item {
            padding: 10px 10px 10px 10px;
            width: 255px;
            margin-bottom: 0;
            hr {
                margin-top: 5px;
                margin-bottom: 10px;
            }
            &__subtitle {
                margin-top: 10px;
            }
            &__descr {
                margin-top: 10px;
            }
            &__link {
                margin-top: 13px;
            }
            &__price {
                font-size: 16px;
            }
        }
    }

    .feed {
        &__img {
            width: 100px;
            height: 100px;
        }
        &__descr {
            font-size: 11px;
        }
        &__item {
            margin-top: 50px;
        }
    }

    .footer {
        &__info {
            width: 313px;
            height: 175px;
        }
        &__addr {
            font-size: 12px;
        }
        &__phone {
            font-size: 15px;
            margin-bottom: 17px;
        }
        &__social-item {
            width: 44px;
            height: 44px;
            img {
                height: 25px;
            }
        }
    }
}